JWT_SECRET=9nwWjj3E1eqzv6p86TfXFqJvH2I8X/g05+Q24D0uyIufDHgaYipCWEVSZSxYPlqGIHaZDivSaWeLCufIsApleA==
NEXT_PUBLIC_API_URL=https://api.adhyatmah.com
# NEXT_PUBLIC_API_URL=http://localhost:5001
SHIPPING_FEE=20
